//menu custom style
.menu-item{
  border-bottom:1px solid white;
}
.menu-item:hover{
  border-bottom:1px solid red;
}
.menu a:hover{
  color: red;
}



/////

.index .post-block {
  position: relative;
  border-radius: 6px;

  transition: all 0.4s ease;
  overflow: hidden;
  cursor: pointer;
  margin-top: 0;
  z-index: 3;
  background-color: #f1f1f1;
  box-shadow: 1px 2px 8px rgba(34, 50, 84, 0.5), 1px 1px 0px 1px #ffffff;

  margin-top: 60px;
  margin-bottom: 60px;
  padding: 25px;
  -webkit-box-shadow: 0 0 5px rgba(202, 203, 203, .5);
  -moz-box-shadow: 0 0 5px rgba(202, 203, 204, .5);

  transform: rotateX(0deg) rotateY(180deg);
}
.index .post-block:after {
  position: absolute;
  top: -70px;
  left: 0;
  content: "";
  transform: translateX(-100%);
}


.index .post-block:hover {
  transform: rotateX(0deg) rotateY(0deg);
}
.index .post-block:hover:after {
  transform: translateX(100%);
  transition: all 1.2s ease-in-out;
}

